<h1>Dictionary</h1>

<a href="/word_form">Add a Word</a>

<hr>

  <% if Word.all().size() > 0 %>
  <h3>Word List:</h3>
    <ul>
      <% Word.all().each() do |word| %>

        <li><a href="/words/<%= word.id %>"><%= word.text %></a></li>
      <% end %>
    </ul>
  <% end %>
