<h1>Word Detail</h1>

<h2>Word: <%= @word.text() %> </h2>

<form action="/word" method="post">
  <div class="form-group">
     <label for="definition">Add Definition:</label>
     <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <div>
    <input type="hidden" name="word_id" value="<%= @word.id() %>">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>

<br>
<a href="/">Return to Homepage</a>

<hr>
<% if @word != nil %>
  <% if @word.definitions().size() > 0 %>
  <h3>Definitions:</h3>
    <ul>
      <% @word.definitions().each() do |definition| %>

        <li><%= definition.text %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
