<h1>Word Detail</h1>
<!--
<form action="/">
  <div class="form-group">
     <label for=""></label>
     <input id="" name="" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form> -->
